[MASTER]
disable=
    C0114, # missing-module-docstring
    W0401, # wildcard-imports
    W0614, # unused-wildcard-imports
    C0301, # line-too-long
    C0321, # multiple-statements
    R0913, # too-many-arguments
    R0917, # too-many-positional-arguments